@model ShopViewModel
@{
    ViewBag.Title = "Shop";
}

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="index-2.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="@Url.Action("Shop", "Home")" method="get">
                            <!-- Updated action attribute -->
                            <input type="text" name="search" placeholder="Search..."> <!-- Updated name attribute -->
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                @foreach (var category in Model.Categories)
                                                {
                                                    <li><a href="@Url.Action("Shop", "Home", new { categoryID = category.CategoryID })">@category.CategoryName (@category.ProductCount)</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                @foreach (var brand in Model.Brands)
                                                {
                                                    <li><a href="@Url.Action("Shop", "Home", new {brandID = brand.brandID})">@brand.brandName</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="@Url.Action("Shop", "Home", new { minPrice = 0, maxPrice = 50 })">$0.00 - $50.00</a></li>
                                                <li><a href="@Url.Action("Shop", "Home", new { minPrice = 50, maxPrice = 100 })">$50.00 - $100.00</a></li>
                                                <li><a href="@Url.Action("Shop", "Home", new { minPrice = 100, maxPrice = 150 })">$100.00 - $150.00</a></li>
                                                <li><a href="@Url.Action("Shop", "Home", new { minPrice = 150, maxPrice = 200 })">$150.00 - $200.00</a></li>
                                                <li><a href="@Url.Action("Shop", "Home", new { minPrice = 200, maxPrice = 250 })">$200.00 - $250.00</a></li>
                                                <li><a href="@Url.Action("Shop", "Home", new { minPrice = 250 })">$250.00+</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            <label for="xs">
                                                xs
                                                <input type="radio" id="xs">
                                            </label>
                                            <label for="sm">
                                                s
                                                <input type="radio" id="sm">
                                            </label>
                                            <label for="md">
                                                m
                                                <input type="radio" id="md">
                                            </label>
                                            <label for="xl">
                                                xl
                                                <input type="radio" id="xl">
                                            </label>
                                            <label for="2xl">
                                                2xl
                                                <input type="radio" id="2xl">
                                            </label>
                                            <label for="xxl">
                                                xxl
                                                <input type="radio" id="xxl">
                                            </label>
                                            <label for="3xl">
                                                3xl
                                                <input type="radio" id="3xl">
                                            </label>
                                            <label for="4xl">
                                                4xl
                                                <input type="radio" id="4xl">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                </div>
                                <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__color">
                                            <label class="c-1" for="sp-1">
                                                <input type="radio" id="sp-1">
                                            </label>
                                            <label class="c-2" for="sp-2">
                                                <input type="radio" id="sp-2">
                                            </label>
                                            <label class="c-3" for="sp-3">
                                                <input type="radio" id="sp-3">
                                            </label>
                                            <label class="c-4" for="sp-4">
                                                <input type="radio" id="sp-4">
                                            </label>
                                            <label class="c-5" for="sp-5">
                                                <input type="radio" id="sp-5">
                                            </label>
                                            <label class="c-6" for="sp-6">
                                                <input type="radio" id="sp-6">
                                            </label>
                                            <label class="c-7" for="sp-7">
                                                <input type="radio" id="sp-7">
                                            </label>
                                            <label class="c-8" for="sp-8">
                                                <input type="radio" id="sp-8">
                                            </label>
                                            <label class="c-9" for="sp-9">
                                                <input type="radio" id="sp-9">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing 1–12 of 126 results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select>
                                    <option value ="low-to-high">Low To High</option>
                                    <option value = "zero-to-fiftyfive">$0 - $55</option>
                                    <option value = "above">$55 - $100</option>   
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@product.ProductImages.FirstOrDefault()?.imageUrl">
@*                                     @if (product.IsOnSale)
                                    {
                                        <span class="label">Sale</span>
                                    } *@
                                    <ul class="product__hover">
                                        <li>
                                            <form id="addToWishlist-@product.ProductID" method="post" action="@Url.Action("AddToWishlist", "Home")">
                                                <input type="hidden" name="productId" value="@product.ProductID" />
                                                <a href="#" onclick="document.getElementById('addToWishlist-@product.ProductID').submit()">
                                                    <img src="~/img/icon/heart.png" alt>
                                                </a>
                                            </form>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Product_Detail", "Product", new { id = product.ProductID })">
                                                <img src="~/img/icon/search.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>@product.productName</h6>
                                    <form id="addToCart-@product.ProductID" method="post" action="@Url.Action("AddToCart", "Home")">
                                        <input type="hidden" name="productId" value="@product.ProductID" />
                                        <a href="#" onclick="document.getElementById('addToCart-@product.ProductID').submit()">+ Add To Cart</a>
                                    </form>
                                    <h5>@product.price.ToString("C")</h5>
                                </div>  
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <div class="product__pagination">
@*                             @if (ViewBag.CurrentPage > 1)
                            {
                                <a href="@Url.Action("Shop", new { page = ViewBag.CurrentPage - 1 })">Previous</a>
                            } *@
                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                if (i == ViewBag.CurrentPage)
                                {
                                    <a class="active" href="#">@i</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Shop", new { page = i })">@i</a>
                                }
                            }

                            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                            {
                                <span>...</span>
                                <a href="@Url.Action("Shop", new { page = ViewBag.TotalPages })">@ViewBag.TotalPages</a>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


